.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2A3647;
    width: 232px;
    height: 100%;
    padding: 64px 0;
    color: white;
}

.logo{
    width: 100.03px;
    height: 121.97px;
}

.nav-content{
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-content li{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0 8px 53px;
}

.active-content{
    background-color: #091931;
    color: #FFFFFF;
}

.deactive-content{
    background-color: transparent;
    color: #CDCDCD;
}

.deactive-content:hover{
    background-color: #2A3D59;
    cursor: pointer;
}

.nav-footer{
    list-style-type: none;
    width: 100%;
    padding: 243px 0 0 0;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.nav-footer li{
    padding: 8px;
    text-align: center;
    color: #A8A8A8;
}

.active-footer{
    background-color: #091931;
}

.deactive-footer{
    background-color: transparent;
}

.deactive-footer:hover{
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}