/* Navigationbar left -------------------------------------------------- */

.main_navigation{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--bg-c-navigation);
    width: 232px;
    min-height: 100%;
    padding: 64px 0;
}

.nav_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.logo{
    width: 100px;
}

.nav_content{
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_content li{

    padding: 8px 0 8px 53px;
}

.nav_content a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    width: 100%;
}

.active_content{
    background-color: var(--c-m-btn-click);
}

.active_content a{
    color: var(--c-m-text-click);
    cursor: default;
}

.deactive_content{
    background-color: transparent;
}

.deactive_content a{
    color: var(--c-m-text-default);
}

.deactive_content:hover{
    background-color: var(--c-m-btn-hover);
    cursor: pointer;
}

.nav_footer{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav_footer li{
    padding: 8px;
    text-align: center;
    color: var(--c-text-btn-default);
}

.active_footer{
    background-color: var(--c-m-btn-click);
    cursor: default;
}

.deactive_footer{
    background-color: transparent;
}

.deactive_footer:hover{
    cursor: pointer;
    color: var(--c-text-btn-hover);
    font-weight: 700;
}

/* Header --------------------------------------------------------------- */

.board_header{
    height: 96px;
    background-color: var(--bg-c-header);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px 0 116px;
    box-shadow: 0 4px 4px 0 #0000001A;
    z-index: 100;

    margin-bottom: 4px;
}

.header_menu_right{
    display: flex;
    gap: 16px;
}

.help_button{
    display: flex;
    align-items: center;
}

.help_button img{
    height: 32px;
}

.help_button img:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.menu_button{
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-m-contact-text);
    border-radius: 50%;
    border: 3px solid #2A3647;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
}

.menu_button:hover{
    background-color: var(--c-m-btn-contact-hover);
    cursor: pointer;
}

.initials_small{
    font-size: 14px;
}

.initials_tall{
    font-size: 20px;
}

/* Side Menu */
.side_menu {
    position: fixed;
    right: -166px;
    width: 150px;
    background-color: var(--bg-c-navigation);
    padding: 10px;
    border-radius: 20px 0 20px 20px;
    transition: right 0.5s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 16px;
    overflow: hidden;
}

.side_menu.open {
    right: 0;
}

.side_menu a{
    text-decoration: none;
    color: var(--c-m-text-default);
    padding: 8px 16px;
}