.df-row{
    display: flex;
}

/* Navigationbar left -------------------------------------------------- */

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2A3647;
    width: 232px;
    height: 100%;
    padding: 64px 0;
    color: white;
}

.logo{
    width: 100.03px;
    height: 121.97px;
}

.nav-content{
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-content li{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0 8px 53px;
}

.active-content{
    background-color: #091931;
    color: #FFFFFF;
}

.deactive-content{
    background-color: transparent;
    color: #CDCDCD;
}

.deactive-content:hover{
    background-color: #2A3D59;
    cursor: pointer;
}

.nav-footer{
    list-style-type: none;
    width: 100%;
    padding: 243px 0 0 0;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.nav-footer li{
    padding: 8px;
    text-align: center;
    color: #A8A8A8;
}

.active-footer{
    background-color: #091931;
}

.deactive-footer{
    background-color: transparent;
}

.deactive-footer:hover{
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

/* Header --------------------------------------------------------------- */

.board-header{
    width: calc(100vw - 232px);
    height: 96px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px 0 calc(348px - 232px);
    box-shadow: 0 0 0 4px #0000001A;
}

.header-menu-right{
    display: flex;
    gap: 16px;
}

.help-button{
    display: flex;
    align-items: center;
}

.help-button img{
    height: 32px;
}

.help-button img:hover{
    cursor: pointer;
    transform:scale(1.2, 1.2);
}

.menu-button{
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29ABE2;
    border-radius: 50%;
    border: 3px solid #2A3647;
    padding: 0;
    background-color: transparent;
    font-weight: bold;
}

.menu-button:hover{
    background-color: #0C2E621F;
    cursor: pointer;
}

.initials-small{
    font-size: 14px;
}

.initials-tall{
    font-size: 20px;
}

/* Side Menu */
.side-menu {
    position: fixed;
    right: -166px;
    width: 150px;
    background-color: #2A3647;
    color: white;
    padding: 10px;
    border-radius: 20px 0 20px 20px;
    transition: right 0.5s ease;
    z-index: 1000;
    color: #CDCDCD;

    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 16px;
    overflow: hidden;
}

.side-menu.open {
    right: 0;
}

.side-menu a{
    text-decoration: none;
    color: #CDCDCD;
    padding: 8px 16px;
}