h2{
    font-size: 61px;
    margin: 32px 0;
}

.page_wrapper{
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
}

.main_container{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--bg-c-join);
}

.main_content{
    display: flex;
    flex: 1;

    gap: 40px;
}

.main_header{
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: default;
}

.main_header span{
    font-size: 27px;
}

.header_separator{
    height: 59px;
    border: 2px solid var(--c-separator-var2);
    margin: 0 30px;
}

.mobile_header_separator{
    display: none;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--bg-c-join);
}

.overview{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.df_row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap_18{
    gap: 18px;
}

.summary_card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--bg-c-card);
    gap: 18px;
    flex-grow: 1;
    box-shadow: 0 0 4px 0 #0000001A;
    height: 168px;
    cursor: pointer;
}

.summary_card:hover{
    background-color: var(--c-btn-s-hover);
    transform:scale(1.06, 1.06);
    color: var(--bg-c-card);
}

.summary_card:hover .deadline_date{
    color: var(--bg-c-card);
}

.round_icon{
    border-radius: 50%;
    height: 69px;
    width: 69px;
    background-color: var(--c-btn-default);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.summary_card:hover .round_icon{
    color: var(--c-btn-s-hover);
    background-color: var(--bg-c-card);
}

.amount{
    font-size: 64px;
    font-weight: 600;
}

.text{
    font-size: 20px;
}

.text_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.separator{
    border: 1px solid var(--c-separator-var1);
    height: 102px;
}

.middle_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 18px;
}

.middle_box p{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.deadline_date{
    font-size: 21px;
    font-weight: bold;
    color: var(--c-text-deadline);
}

.round_priority_icon{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--c-pr-urgent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.welcome_mobile{
    display: none;
}

.welcome p{
    display: flex;
    flex-direction: column;
}

.welcome_text{
    font-size: 47px;
}

.welcome_name{
    font-size: 64px;
    font-weight: bold;
    color: var(--c-text-name);
}

@media(max-width: 1150px){
    .main_header h2{
        font-size: 47px;
    }

    .main_header span{
        font-size: 20px;
    }

    .round_icon,
    .round_priority_icon{
        width: 40px;
        height: 40px;
    }

    .round_icon svg{
        height: 16px;
    }

    .round_priority_icon img{
        height: 16px;
    }

    .amount{
        font-size: 47px;
    }

    .text{
        font-size: 14px;
    }

    .deadline_date{
        font-size: 16px;
    }

    .overview{
        width: 396px;
    }

    .welcome_text{
        font-size: 36px;
    }

    .welcome_name{
        font-size: 47px;
    }

    .summary_card{
        gap: 10px;
        height: 110px;
    }

}

@media(max-width: 950px){
    .welcome{
        display: none;
    }

    .welcome_mobile{
        display: none;
        position: absolute;
        z-index: 10;
        background-color: white;
        width: 100%;
        height: 100%;
        cursor: default;
    }

    .welcome_mobile p {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .welcome_show{
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 500px){

    .main_header{
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .main_header h2{
        margin-bottom: 0;
    }

    .header_separator{
        display: none;
    }

    .mobile_header_separator{
        display: block;
        width: 90px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid var(--c-separator-var2);
        margin: 0 0 30px 0;
    }
}


@media(max-width: 440px){

    .overview{
        width: 280px;
    }

}
