/* MF */

/* LOGO STYLING */
.logo_light {
   width: 54px;
   height: 66px;
   margin: 0 0 0 16px;
}

/* h1 und h3 bitte prüfen wegen font und schriftgröße und color */
 /* MAIN HEADLINE */
.edit_h1 {
   color: white;
   font-family: inter;
   font-size: 61px;
   font-weight: 600;
   font-style: bold;
   margin: 16px 0 0 16px;
}   

.edit_h3 {
   color: white;
   font-family: inter;
   font-size: 27px;
   font-weight: 400;
   font-style: regular;
   margin: 8px 0 0 16px;
}
/* BLUE UNDERLINE */
.edit_blue_line {
   width: 90px;
   height: 1px;
   border: 1px solid var(--c-btn-delete);
   margin: 16px 0 0 16px;
   margin-bottom: 60px;
}