
.task_input_area{
    display: flex;
    flex-direction: row;
}

.task_separator{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--c-separator-var1);
    margin: 0 32px;
}

/* Overlay */

.overlay_add_task{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    padding: 48px;
    margin: 8px 0;

    min-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1), opacity 0.5s;
}

.overlay_add_task.active {
    transform: translateX(0);
    opacity: 1;
}

.overlay_add_task header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    width: 100%;
}

.add_task_footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@media(max-width: 1000px){

    .task_separator{
        margin: 0 16px;
    }

}

@media(max-width: 850px){

    .task_input_area{
        flex-direction: column;
        gap: 24px;
    }

    .task_separator{
        display: none;
    }

    .add_task_footer{
        flex-direction: column;
        gap: 24px;
    }

    .add_task_footer span{
        width: 100%;
        text-align: start;
    }

    .overlay_add_task{
        padding: 16px;
    }
}