
.task_input_area{
    display: flex;
    flex-direction: row;
}

.task_separator{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid var(--c-separator-var1);
    margin: 0 32px;
}

/* Overlay */

.overlay_add_task{
    position: relative;
    top: 0;
    right: -100%;

    background-color: white;
    padding: 56px;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 #0000001A;
    transition: right 0.8s ease;
    z-index: 1000;
}

.overlay_add_task.active {
    right: calc(100vw - 100%);
}

.overlay_add_task header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.add_task_footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@media(max-width: 1000px){

    .task_separator{
        margin: 0 16px;
    }

}

@media(max-width: 850px){

    .task_input_area{
        flex-direction: column;
        gap: 24px;
    }

    .task_separator{
        display: none;
    }

    .add_task_footer{
        flex-direction: column;
        gap: 24px;
    }

    .add_task_footer span{
        width: 100%;
        text-align: start;
    }

    .overlay_add_task{
        padding: 24px;
    }
}