.page_wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--bg-c-join);
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.main_container_board {
    width: 100%;
    max-width: 2000px;
}

.kanban_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find_and_create_task_container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.search_input_wrapper {
    position: relative;
    display: inline-block;
}

.search_input_wrapper input {
    height: 48px;
    width: 312px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 56px;
    cursor: pointer;
}

.search_input_wrapper input:focus {
    border: 3px solid #29ABE2;
    outline: none;
}

.search_affix {
    position: absolute;
    top: 50%;
    right: 16px;                
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 16px;               
    pointer-events: auto;
}

.search_button {
    pointer-events: auto;
    all: unset;
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-image: url("../assets/img/icons/search/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search_button:hover {
    transform: scale(1.1);
}

.search_button:active {
    background-image: url("../assets/img/icons/search/search_onclick.svg");
}

.separator_input_field {
    height: 32px;
    width: 1px;
    background-color: #D1D1D1;
    pointer-events: none;
    cursor: pointer;
}

.add_task_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 160px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.add_task_button:hover {
    background-color: #29ABE2;
    transform: translateX(-1px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.add_task_button:active {
    background-color: #091931; 
    transform: translateY(0);  
    box-shadow: none;         
}

.plus_sign {
    height: 32px;
    width: 32px;
}

.kanban_board {
    margin-top: 64px;
    display: flex;
    gap: 26px;
    justify-content: space-between;
}

.task_column {
    display: flex;
    flex-direction: column;
    width: 252px;
}

.task_column_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.add_task_button_kanban {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/icons/kanban_plus_sign/add_task_default.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.add_task_button_kanban:hover {
    background-image: url("../assets/img/icons/kanban_plus_sign/add_task_hover.svg");
}

.add_task_button_kanban:active {
    background-image: url("../assets/img/icons/kanban_plus_sign/add_task_default.svg");
}

.task_column_content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 16px;
}

.no_tasks_placeholder {
    background-color: #E7E7E7;
    border-color: #A8A8A8;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: #A8A8A8;
    height: 48px;
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
    background-color: #ffffff;
    border-color: #29ABE2;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    height: 48px;
    width: 252;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 120ms ease; /* sanfter Effekt */
}

.task.dragging {
    transform: rotate(5deg); /* 15° im Uhrzeigersinn */
}

.drop_indicator {
    background-color: #E7E7E7;
    border-color: #A8A8A8;
    border-radius: 10px;
    border-style: dashed;
    border-width: 1px;
    color: #A8A8A8;
    height: 48px;
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* stört die Drag-Events nicht */
    margin-bottom: 20px;  /* optional, wirkt wie ein Task-Abstand */
}

h1 {
    font-size: 61px;
    font-weight: 700;

}

h2 {
    font-size: 27px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}

p {
    font-size: 16px;
    font-weight: 400;
}

/* --- Board Card - Task --- */

.board_card{
    width: 100%;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;

    box-shadow: 0 0 10px 3px #00000014;

    background-color: white;
}

.board_card img{
    height: 32px;
    width: 32px;
}

.board_card p{
    color: #A8A8A8;
}

.board_card:hover{
    cursor: pointer;
}

.bct_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bct_assigned_to_list{
    list-style-type: none;
    display: flex;
    padding: 0;
    overflow-y: auto;
    margin-top: 8px;
    padding-left: 10px;
}

.bct_assigned_to_list li{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: -10px;
}

.subtask_wrapper{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

/* Progressbar */

.progress-container {
    width: 120px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4589FF;
    width: 20%;
    border-radius: 10px;
}