
.overview{
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
}

.df_row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap_18{
    gap: 18px;
}

.summary_card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--bg-c-card);
    gap: 18px;
    flex-grow: 1;
    box-shadow: 0 0 4px 0 #0000001A;
    height: 168px;
    cursor: pointer;
}

.summary_card:hover{
    background-color: var(--c-btn-s-hover);
    transform:scale(1.06, 1.06);
    color: var(--bg-c-card);
}

.summary_card:hover .deadline_date{
    color: var(--bg-c-card);
}

.round_icon{
    border-radius: 50%;
    height: 69px;
    width: 69px;
    background-color: var(--c-btn-default);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.summary_card:hover .round_icon{
    color: var(--c-btn-s-hover);
    background-color: var(--bg-c-card);
}

.amount{
    font-size: 64px;
    font-weight: 600;
}

.text{
    font-size: 20px;
}

.text_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.separator{
    border: 1px solid var(--c-separator-var1);
    height: 60%;
    margin: 0 24px;
}

.middle_box{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 18px;
}

.middle_box p{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.box_left{
    justify-content: end;    
}

.box_right{
    justify-content: start;    
}

.deadline_date{
    font-size: 21px;
    font-weight: bold;
    color: var(--c-text-deadline);
}

.round_priority_icon{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--c-pr-urgent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.welcome_mobile{
    display: none;
}

.welcome p{
    display: flex;
    flex-direction: column;
}

.welcome_text{
    font-size: 47px;
}

.welcome_name{
    font-size: 64px;
    font-weight: bold;
    color: var(--c-text-name);
}

@media(max-width: 1000px){
    .main_header h2{
        font-size: 47px;
    }

    .main_header span{
        font-size: 20px;
    }

    .round_icon,
    .round_priority_icon{
        width: 40px;
        height: 40px;
    }

    .round_icon svg{
        height: 16px;
    }

    .round_priority_icon img{
        height: 16px;
    }

    .amount{
        font-size: 47px;
    }

    .text{
        font-size: 14px;
    }

    .deadline_date{
        font-size: 16px;
    }

    .welcome_text{
        font-size: 36px;
    }

    .welcome_name{
        font-size: 47px;
    }

    .summary_card{
        gap: 10px;
        height: 110px;
    }

}

@media(max-width: 850px){
    .welcome{
        display: none;
    }

    .welcome_mobile{
        display: none;
        position: absolute;
        z-index: 10;
        background-color: white;
        width: 100%;
        height: 100%;
        cursor: default;
    }

    .welcome_mobile p {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .welcome_show{
        display: flex;
        justify-content: center;
    }

    .middle_box{
        gap: 10px;
    }

    .middle_box p{
        gap: 8px;
    }

    .summary_card{
        padding: 0 8px;
    }

    .separator{
        margin: 0 14px;
    }

}

