
.overlay_task{
    border-radius: 30px;
    padding: 48px 40px;
    padding-right: 26px;

    display: flex;
    flex-direction: column;
    
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1), opacity 0.5s;
    
    box-shadow: 0 0 4px 0 #00000029;

    max-width: 525px; 
    width: 100%;

    background-color: white;
    margin: 8px;

    gap: 24px;

    max-height: 95vh;
}

.overlay_task.active{
    transform: translateX(0);
    opacity: 1;
}

/* Category */

.category{
    width: fit-content;
    border-radius: 8px;
    padding: 4px 24px;
    color: white;
}

.category_bg_color0{
    background-color: var(--c-category1);
}

.category_bg_color1{
    background-color: var(--c-category2);
}

/* Header */

.overlay_task .task_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task_title{
    font-size: 61px;
}

/* Content */

.overlay_task h1{
    font-size: 61px;
}

.overlay_task section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task_info_one_line{
    display: flex;
}

.task_label{
    color: #42526E;
    width: 117px;
}

.display_priority{
    display: flex;
    gap: 10px;
}

.assigned_to_list{
    list-style-type: none;
    max-height: 288px;
    padding: 0;
    gap: 2px;
    overflow-y: auto;
    margin-top: 8px;
}

.assigned_to_list li{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 7px 16px;
}

.subtasks_list{
    list-style-type: none;
    max-height: 288px;
    padding: 0;
    gap: 2px;
    overflow-y: auto;
    margin-top: 8px;
}

.subtasks_list li{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 16px;
    border-radius: 10px;

    width: fit-content;
}

.subtasks_list li:hover{
    background-color: var(--bg-c-sel-hover-var1);
    cursor: pointer;
}

.checkbox_img_container{
    width: 24px;
    height: 24px;
    transition: background-image 0.125s ease-in-out;
}

.task_buttons_container{
    display: flex;
    justify-content: end;
    gap: 8px;

}

.task_buttons_container button{
    background-color: transparent;
    display: flex;
    gap: 8px;
    border: none;

    font-size: 16px;
    cursor: pointer;

    color: var(--c-btn-default);

    transition: color 125ms ease-in-out;
    transition: font-weight 125ms ease-in-out;
}

.task_buttons_container button:hover{
    color: var(--c-btn-hover);
    font-weight: bold;
}

.task_button_separator{
    border-left: 1px solid #D1D1D1;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

@media (max-width: 850px){
    .task_title{
        font-size: 36px;
    }

    .overlay_task{
        padding: 32px 24px;
        max-width: 396px; 
        width: 100%;

        gap: 16px; 
    }

    .overlay_task section{
        gap: 16px;
    }

    .overlay_task.active{
        right: calc(94vw - 100%);
    }
}

@media (max-width: 400px){
    .overlay_task.active{
        right: calc(88vw - 100%);
    }    
}

/* Scrollbar */

.scrollbar_area{
    overflow-y: auto;
    padding-right: 20px;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #626262;
    cursor: pointer;
}

::-webkit-scrollbar-button:single-button {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("../assets/img/icons/scrollbar/button_up.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("../assets/img/icons/scrollbar/button_down.svg");
}